/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-green);
    --color-accent-variant: var(--color-blue);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #1B1F23;
    --color-green: #6DB33F;
    --color-blue: #0066CC;
    --color-gray: #262A2D;

    /* Size */
    --size-max-width: 1200px;
    --size-mid-width: 800px;
    --size-min-width: 300px;
}

/* 초기화 */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: var(--color-primary);
}

h1,h2,h3,p,ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: var(--color-accent);
}

/* Common */
.section {
    padding: 1rem 2rem;
}

.max-container {
    width: var(--size-max-width);
    margin: auto;
}

.mid-container {
    width: var(--size-mid-width);
    margin: auto;
}

.min-container {
    width: var(--size-min-width);
    margin: auto;
}

/* Header */
.header {
    background: var(--color-primary);
    color: var(--color-text);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 40px;
    height: 40px;
    background-color: var(--color-accent);
}

.header__logo__menu {
    padding: 8px 16px;
    font-weight: bold;
}

.header__logo__menu:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__menu__item {
    padding: 8px 16px;
    font-weight: bold;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Main */
main {
    color: var(--color-text);
    padding: 5rem 1rem;
}

/* Arrow */
.arrow-up {
    color: var(--color-text);
    position: fixed;
    opacity: 0;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
    transition: opacity 250ms ease-in ;
}

/* Footer */
#contact {
    text-align: center;
    background-color: var(--color-gray);
    color: var(--color-text);
}

.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__link {
    transition: color 250ms ease-in;
}

.contact__link:hover {
    color: var(--color-accent);
}

/* Shop */
#shop {
    display: flex;
    color: var(--color-text);
}

#shop__filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.category {
    position: relative;
    color: var(--color-text);
    outline: 1px solid var(--color-accent);
    padding: 0.5rem 4.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.category--selected {
    background-color: var(--color-accent);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: 6px;
    right: 20px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    background-color: var(--color-accent);
    color: var(--color-text);
    transition: all 250ms ease-in;
}

.category--selected .category__count {
    background-color: var(--color-gray);
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    right: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid var(--color-gray);
}

.product {
    position: relative;
    overflow: hidden;
}

.product__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.product__metadata {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product__metadata:hover {
    opacity: 0.8;
}

/* Service */
.service__description {
    text-align: center;
    padding: 2rem;
}

/* Cart */
.cart__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.cart__shopBtn {
    display: inline-block;
    font-weight: bold;
    background-color: var(--color-accent);
    color: var(--color-black);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 30%;
    transition: color 250ms ease-in;
}

.cart__shopBtn:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* Wishlist */
.wishlist__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.wishlist__shopBtn {
    display: inline-block;
    font-weight: bold;
    background-color: var(--color-accent);
    color: var(--color-black);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 30%;
    transition: color 250ms ease-in;
}

.wishlist__shopBtn:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* Account */
#signin-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    gap: 1.5rem;
}

#registration-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text);
    gap: 1.5rem;
}

.account__section__logo {
    width: 150px;
    background-color: var(--color-accent);
    border-radius: 100%;
}

.account__section__title {
    font-size: 1.5rem;
    text-align: center;
}

.account__section__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-style: none;
    gap: 0.5rem;
}

.account__section__fieldset__label {
    position: relative;
}

.account__section__fieldset__input {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1rem;
    text-indent: 0.5rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
}

.account__section__fieldset__input-date {
    background-color: var(--color-primary);
    color: #757575;
    font-size: 1rem;
    text-indent: 0.25rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid var(--color-accent);
    border-radius: 10px;
}

.account__section__text {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--color-text);
}

.account__section__a {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--color-text);
    transition: all 250ms ease;
}

.account__section__a:hover {
    color: var(--color-accent);
}

.account__section__form__submit {
    width: 100%;
    height: 2.5rem;
    background-color: var(--color-accent);
    color: var(--color-text);
    border-radius: 10px;
    font-weight: bold;
    transition: all 150ms ease;
}

.account__section__form__submit:hover {
    background-color: transparent;
    outline: 1px solid var(--color-accent);
}

.account__section__join {
    display: flex;
    gap: 0.5rem;
}

.input__inner-btn {
    position: absolute;
    right: 0;
    width: 60px;
    height: 2.5rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--color-accent);
    color: var(--color-text);
    transition: all 150ms ease;
}

.input__inner-btn:hover {
    background-color: var(--color-primary-variant);
    border: 1px solid var(--color-accent);
}

.user-birth {
    display: flex;
    gap: 1rem;
}