<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="User" type="com.myproject.domain.User"/>
        <typeAlias alias="Product" type="com.myproject.domain.Product"/>
        <typeAlias alias="Review" type="com.myproject.domain.Review"/>
    </typeAliases>
</configuration>