<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.repository.ProductMapper">
    <select id="count" resultType="int">
        SELECT count(*) FROM products
    </select>

    <select id="selectAll" resultType="Product">
        SELECT * FROM products ORDER BY pno DESC
    </select>

    <select id="selectByNo" parameterType="int" resultType="Product">
        SELECT * FROM products WHERE pno = #{pno}
    </select>

    <select id="selectByName" parameterType="String" resultType="Product">
        SELECT * FROM products WHERE pname = #{pname}
    </select>

    <insert id="insert" parameterType="Product">
        INSERT INTO products (pname, price, size, quantity, color, review_cnt)
        VALUES (#{pname}, #{price}, #{size}, #{quantity}, #{color}, 0)
    </insert>

    <update id="update" parameterType="Product">
        UPDATE products SET pname = #{pname}, price = #{price}, size = #{size}, quantity = #{quantity}, color = #{color}, review_cnt = #{review_cnt}
        WHERE pno = #{pno}
    </update>

    <update id="changeReviewCount" parameterType="map">
        UPDATE products SET review_cnt = review_cnt + #{countValue} WHERE pno = #{pno};
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM products WHERE pno = #{pno}
    </delete>

    <delete id="deleteAll">
        TRUNCATE TABLE products
    </delete>
</mapper>