<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myproject.repository.UserMapper">
    <select id="count" resultType="int">
        SELECT count(*) FROM users
    </select>

    <select id="select" parameterType="String" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO users (givenName, familyName, id, pw, email, country, day, month, year)
        VALUES (#{givenName},#{familyName},#{id},#{pw},#{email},#{country},#{day},#{month},#{year})
    </insert>

    <update id="update" parameterType="User">
        UPDATE users SET givenName = #{givenName}, familyName = #{familyName}, pw = #{pw}, email = #{email}, country = #{country}, day = #{day}, month = #{month}, year = #{year}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM users WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        TRUNCATE TABLE users
    </delete>
</mapper>